<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Social Sentry" Manufacturer="MK Shaon" Version="1.1.2.0" UpgradeCode="7dff9e2b-4653-48cb-bea5-ba0c7fc6094d">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main">
      <ComponentGroupRef Id="HarvestedComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <Property Id="MsiLogging" Value="voicewarmup" />
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Social Sentry" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Social Sentry"/>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Shortcuts" Directory="ApplicationProgramsFolder">
        <Component Id="ApplicationShortcut" Guid="612b8512-e039-4931-b56e-2983eca22727" Bitness="always64">
            <Shortcut Id="ApplicationStartMenuShortcut" 
                      Name="Social Sentry" 
                      Description="Social Sentry Desktop App"
                      Target="[INSTALLFOLDER]Social Sentry.exe"
                      WorkingDirectory="INSTALLFOLDER"/>
            <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\MKShaon\SocialSentry" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
